* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --margin-left: 5vh;
}

@font-face {
    font-family: Norse-bold;
    src: url(./fonts/Norse-Bold.otf);
  }

.wrapper {
    display: flex;
    height: 100vh;
}

.left {
    background-image: url(./images/blake-harbison-unsplash.jpg);
    background-size: cover;
    width: max(250px, 40vw);
}

.left-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    & .left-title-container {
        height: 17vh;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    & #logo {
        height: 15vh;
    }

    & h1 {
        font-family: Norse-bold;
        font-size: 10vh;
        color: white;
        padding-top: 2vh;
    }
}

.left-footer {
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    
    & a:visited, h4 {
        color: rgb(221, 221, 221);
    }

    & h4 {
        margin-bottom: 1vh;
        font-family: Norse-bold;
    }
}

.right {
    width: 60vw;
    background-color: rgb(245, 245, 245);
}

.right-header {
    padding-left: var(--margin-left);
    padding-bottom: 8vh;
    height: 38vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3vh;
    
    & p {
        font-size: 3vh;
    }
}

fieldset {
    border: none;   
    width: 40vw;
    height: 28vh;
    display: flex;
    align-items: center;
    gap: 5vh;

    & .inner-left {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    & .inner-right {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.right .right-middle {
    background-color: white;
    height: max(32vh, 180px);
    box-shadow: rgb(202, 203, 203) 5px 5px 10px;
}

.form-container {
    padding: 2vh 0 2vh var(--margin-left);
    font-size: 3vh;
}

.item-pair {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}

label {
    letter-spacing: 0.2ch;
    font-weight: 550;
}

input {
    width: 250px;
    min-height: 4ch;
    border: 2px #E5E7EB solid;
    border-radius: 5px;
    padding-left: 5px; /* adds small space before user input */
}

.item-pair input:focus {
    border-color: rgb(24, 62, 255);
    outline: none;
    box-shadow: 4px 4px 4px rgb(203, 203, 203);
}

input:invalid {
    border-color: rgb(255, 0, 0);
    outline: none;
}

input[type] {
    border-color: #E5E7EB;
    outline: none;
}

.right-footer {
    margin: var(--margin-left);
}

button[type="submit"] {
    background-color: #596D48;
    color: white;
    padding: 0.8rem 3rem;
    margin-bottom: 3vh;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.right-footer span {
    color: #596D48;
    font-weight: 800;
}

